<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-md-offset-3">
                <h1>Add Yourself to our Arbitrator List</h1>
                <hr>
                <%= form_for @arbitrator do |f| %>
                    <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, :class => "form-control", :required => true %>
                    </div>
                    <div class="form-group">
                        <%= f.label :description %>
                        <%= f.text_field :description, :class => "form-control", :required => true %>
                    </div>
                    <div class="form-group">
                        <%= f.label :public_key %>
                        <%= f.text_field :public_key, :class => "form-control", :required => true %>
                    </div>
                    <div class="form-group">
                        <%= f.label :image %>
                        <%= f.text_field :image, :class => "form-control" %>
                    </div>
                    <%= f.submit :class => "btn btn-info" %>
                <% end %>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>