<section class="wrapper-md">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Arbitrators</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section class="wrapper-md bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <h3 class="h2 headline"><%= @arbitrator.name %></h3>
                    <div class="thumbnail">
                        <%= image_tag @arbitrator.image %>  
                        <div class="thumbnail-meta">  
                        <p>Public Key: <br><%= @arbitrator.public_key %></p>
                        </div>
                        <%= link_to('Contact', pages_contact_path, :class => "btn btn-lg btn-block btn-success" )%>  
                    </div>
                </div><!-- /.thumbnail -->
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-7 col-sm-offset-1">
                <p><%= @arbitrator.description %></p>
            </div><!-- /.col -->
            <p><%= link_to('Edit', edit_arbitrator_path(@arbitrator)) %> <%= link_to('Delete', @arbitrator, :method => :delete) %></p>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
