<section class="wrapper-lg bg-highlight">
    <div class="container">
        <h1><%= @user.name %></h1>
        <br class="spacer-lg">
        Gender: <%= @user.gender.capitalize %>
        <br>
        Age: <%= @user.age %>
        <br>
        Email: <%= @user.email %>
        <br>
        Address Number: <%= @user.address_number %>
        <br>
        Street: <%= @user.address_street %>
        <br>
        City: <%= @user.address_city %>
        <br>
        State: <%= @user.address_state %>
        <br>
        Code: <%= @user.address_code %>
        <br>
        Country: <%= @user.address_country %>
        <br class="spacer-lg">

        <% if @current_user && @current_user.admin %>
            <p><%= link_to('Edit', edit_user_path(@user)) %> <%= link_to('Delete', @user, :method => :delete) %></p>

            <% @user.properties.each do |property| %>
                <p>
                Owned Properties: 
                <%= link_to(property.address_number, property_path(property.id)) %>
                <%= link_to(property.address_street, property_path(property.id)) %>
                <%= link_to(property.address_suburb, property_path(property.id)) %>
                <%= link_to(property.address_code, property_path(property.id)) %> 
                </p>
            <% end %>
        <% end %>    
    </div><!-- /.container -->
</section>



