<h3><%= @property.address_number%> <%=@property.address_street%>, <%=@property.address_suburb %></h3>
    <ul>
        <li><%= image_tag @property.image %></li>
        <li>Date Listed: <%= @property.date_listed %></li>
        <li>Price: <%= number_to_currency(@property.price) %></li>
        <li>Bedroom: <%= @property.bedrooms %></li>
        <li>Bathrooms: <%= @property.bathrooms %></li>
        <li>Garages: <%= @property.garages %></li>
        <li>Size: <%= @property.sqr_ft %></li>
        <li><%= @property.description %></li>
    </ul>

    <iframe src=<%= @property.map_image %> width="600" height="450" frameborder="0" style="border:0"></iframe>

    <p><%= link_to('Edit', edit_property_path(@property)) %> <%= link_to('Delete', @property, :method => :delete) %></p>

<h3>Property Owner:</h3>
<%# @property.users.each do |user| %>
   <p><%= link_to(@property.user.name, user_path) %></p>
<%# end %>