<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-md-offset-2">
                <h1>Complete Transaction</h1>
                    <hr>
                    <h3>Release Funds</h3>
                    <p>Please enter one or more signatures (your Privkey) and the 'redeemScript'. (Note: This URL can be shared with others in your party to enter their signature if required.)</p>
                    <hr>
                    <%= form_tag('/bitcoins/thanks') do %>
                    <div class="form-group">
                        <%= label_tag :multisig %>
                        <%= text_field_tag :multisig, nil, :placeholder => 'Enter Private Key 1', :class => 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag :multisig %>
                        <%= text_field_tag :multisig, nil, :placeholder => 'Enter Private Key 2', :class => 'form-control' %>
                    </div>
                    <hr>
                    <div class="form-group">
                        <%= label_tag :script, 'redeemScript' %>
                        <%= text_area_tag :script, nil, :placeholder => 'Enter script', :class => 'form-control', :rows => '5' %>
                    </div>
                    <hr>
                    <%= submit_tag 'Confirm', class: 'btn btn-primary' %>
                <% end %>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>