<section class="wrapper-lg bg-highlight">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-md-offset-1">
                <h1>Generate New Public & Private Keys</h1>
                <hr>
                <p>You'll need these keys in order to create your multi signature address. If you prefer you can use keys from your own Bitcoin client. Remember to keep all keys safe as these will be needed to complete the transaction.</p>
                <hr>
                <h3>Address</h3>
                <%= @public_key_address %>       
                <hr>
                <h3>Pubkey</h3>
                <%= @public_key %>
                <hr>
                <h3>Privkey (Keep this one to yourself!)</h3>
                <%= @private_key %>
                <hr>
                <%= link_to "Generate Keys Again", bitcoins_new_keys_path, :class => "btn btn-link pull-right" %>
                <%= link_to "Next Step: Create Multisig Address", bitcoins_new_address_path, :class => "btn btn-link pull-right" %>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
