<h1>Images for Property:</h1>

    <h3><%= @photo.property.address_number%> <%= @photo.property.address_street%>, 
        <%= @photo.property.address_suburb %>, <%= @photo.property.address_code %></h3>

    <li><%= image_tag @photo.photo1, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo2, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo3, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo4, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo5, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo6, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo7, :class => 'medium' %></li>
    <li><%= image_tag @photo.photo8, :class => 'medium' %></li>

<p><%= link_to('Edit', edit_photo_path(@photo)) %> <%= link_to('Delete', @photo, :method => :delete) %></p>
    
